<template>
  <div
      :id="id"
      class="board"
      @dragover.prevent
      @drop.prevent="drop"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: 'taskBoard',
  props: ['id'],
  methods: {
    drop: e => {
      const cardId = e.dataTransfer.getData('cardId');
      const card = document.getElementById(cardId);
      card.style.display = "block";
      e.target.appendChild(card);
    }
  }
}
</script>

<style scoped>
.board {
  background-color: dimgrey;
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>