<template>
  <div
  :id="id"
  class="card"
  :draggable="draggable"
  @dragstart="dragStart"
  @dragover.stop>
    <slot />
  </div>
</template>

<script>
export default {
  props:['id','draggable'],
  name: "taskCard",
  methods: {
    dragStart: e => {
      console.log('1');
      const target = e.target;
      e.dataTransfer.setData('cardId', target.id);

      setTimeout(() => {
        target.style.display = 'none';
      }, 0)
    }
  }
}
</script>

<style scoped>
.card {
  width: 200px;
  height: 30px;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}
</style>