<template>
  <div id="app">
    <div class="main-box">
      <Board id="board-1">
        <Card id="card-1" draggable="true">
          <div>Card 1</div>
        </Card>
        <Card id="card-1.2" draggable="true">
          <div>Card 1.2</div>
        </Card>
      </Board>
      <Board id="board-2">
        <Card id="card-2" draggable="true">
          <div>Card 2.1</div>
        </Card>
      </Board>
      <Board id="board-3">
        <Card id="card-3" draggable="true">
          <div>Card 3.1</div>
        </Card>
      </Board>
    </div>
  </div>
</template>

<script>
import Board from "@/components/Board";
import Card from "@/components/Card";
export default {
  name: 'App',
  components: {
    Card,
    Board
  },
  data() {
    return {
    }
  }
}
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.main-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
</style>
